.sideNav{
    padding-top: 50px;
    position: fixed !important;
    top: 0px;
    bottom: 0%;
    left: 0px;
    background-size:auto;
    border-right: 4px solid #b5b5b7;
    background-color: #252839;
}
.bucket{
    margin-top: 55px;
}
hr{
    border-top:4px solid #b5b5b7;
}
.header{
    background-color: #252839;
}
.container{
    margin-top: 50px;
    width:70%;
}
.panel-background{
    background-color: #f2b632;
    border-bottom: 1px solid black;
    border-radius: 2.5px;
    padding-bottom: 0px;
    padding-top: 1px;
}
.car{
    width:80%;
}
.buttonGroup{
    margin-top: 30px;
}
.panel{
    border: 1px solid black;
}
.panel-body{
    padding-left:5%;
}
.pull-right{
    float: right;
    color: #0598DA;
}
.hotDeals{
    color: red!important;
}
.navbar-default{
    position: fixed;
    top: 0;
    width: 100%;
}
.years{
    margin-top: 5px;
}
.yearLabel{
    pointer-events: none;
}
#logo{
    font-family: 'Permanent Marker', cursive;
    font-size: x-large;
    color: black;
    }
button.md-fab{
    background-color: #252839;
    color: white;
    font-size: xx-large;
    line-height: 5.6rem;
    min-width: 0;
    width: 5.6rem;
    height: 5.6rem;
    border-radius: 50%;
    position: fixed !important;
    top: 90%;
    left: 95%;
}    
.ng-cloak{
  display: none !important;
}